/*****************************
  GLOBAL SETTINGS

*/
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #F5F5F5;
    color: #2e2e2e;
}


hr{
  border-top: 1px solid #2e2e2e;
  width: 90%;
}

p{
  font-size: 16pt;
  color: #696969;
}

/*******************

  NAVBAR

*******************/
ul.topnav{
  list-style-type: none;
  margin: 0;
  padding: 0;

  background-color: #eee;


  border: 0px solid red;
}

ul.topnav li.left{float: left;}
ul.topnav li{
  float: right;
  z-index: 100;
}

ul.topnav li a{
  color: #2e2e2e;
  font-family: 'Barlow', sans-serif;
  font-size: 21pt;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav a.active{font-weight: bold;}

@media screen and (max-width: 600px){
  ul.topnav li.left,
  ul.topnav li{float: none;}

  ul.topnav li.dropdown .dropDownBtn{
    width: 100%;
  }

  ul.topnav li.dropdown .dropdown-projects{
    position: relative;
  }


}
/******************************

  HOME PAGE

*/

.background_image{
  background: url('https://thecartographerr.github.io/imgdir/flock.jpg') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  width: 100%;
  z-index: -1;
}

#Welcome{
  color: #333333;
  font-family: sans-serif;
  font-size: 64pt;
  background-color: rgb(255,255,255,0.05);
  text-shadow: 3px 1px #fff;
}

/* LEARN MORE BUTTON */

input[id="learnMoreBtn"]{
  margin-left: auto;
  margin-right: auto;

  width: 150px;
  height: 50px;

  background-color: rgb(255,255,255,0.3);
  border: 1px solid #191919;
  color: #191919;
  font-size: 18pt;
  border-radius: 1%;

}
input[id="learnMoreBtn"]:hover{
  background-color: rgba(10, 10, 15, 0.5);
  color: white;
}

input[id="learnMoreBtn"]:focus{
  outline: none;
}


table[id="header"]{

  border: 0px solid red;
  position: absolute;

  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);

  z-index: 1;

  width: 50%;

  text-align: center;

}

/********************************

  DROP DOWN BUTTON

*/
li.dropdown{

}

li.dropdown .dropDownBtn{
  background-color: inherit;
  padding: 14px 16px;
  font-size: 21pt;
  color: #2e2e2e;
  font-family: inherit;
  text-align: center;
  margin: 0;
  outline: 0;
  border: 0;
  width: 160px;
  z-index: 1;

  border: 0px dashed red;
}

ul.topnav li.dropdown a{
  font-size: 12pt;
}

.dropdown-projects{
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 100;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


}

.dropdown-projects a{
  color: #2e2e2e;
  font-size: 14pt;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid #fff;

}

.dropdown-projects:hover{
  text-decoration: none;
}


li.dropdown a:hover {
  background-color: #505050;
  color: #fff;
}
.show{
  display: block;
  position: absolute;
  z-index: 1;
}


/******************************

  PROJECT PAGE STUFF

*/

h1, h2{
  text-align: center;
}

.embedded-project{
  display: block;
  text-align: center;
  justify-content: center;
  padding: 1em;
}


.RFP-Text{
  justify-content: center;
  text-align: left;


  color: #696969;
  font-size: 14pt;
  font-family: sans-serif;

  padding-left: 10%;
  padding-right: 10%;
}

/************************

    Aboutv2.html CSS stuff

***************************/

.AboutSECTION{
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 5vw);
  grid-gap: 1.5rem;
  margin-left: 8em;
  margin-right: 8em;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media only screen and (min-width: 3000px) {
  .gallery{
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 5vw;
    padding-left: 5em;
    padding-right: 5em;
    grid-row-gap: 100px;
    border: 2px dashed red;
    text-align: center;
    width: 50%;
  }

  .gallery__img {
    width: 10%;
    height: 10%;
    object-fit: cover;
    display: block;
    border: 2px dashed purple;

  }
}

@media only screen and (max-width: 1000px) {
  .gallery{
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 5vw;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

.gallery__item--1 {
  border: 0px solid blue;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  border: 0px solid red;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 13;
}

.gallery__item--4 {
  border: 0px solid green;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 13;
}

.gallery__item--5 {
  border: 0px solid red;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--7 {
  border: 0px solid purple;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 13;
}

.gallery__item--8 {
  border: 0px solid green;
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 13;
}

.gallery__item--9 {
  border: 0px solid black;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--10 {
  border: 1px solid white;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}


.footer{
  background-color: #2e2e2e;
  text-align: center;
  padding: 1em;
}

.footer p{
  color: #F5F5F5;
  font-size: 2em;
}

.footer_table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border: 0px solid white;
}

.footer_table td{
  text-align: left;
  vertical-align: middle;
}

@media only screen and (max-width: 1200px) {
  .footer_table{
    width: 40%;
  }
}


.icon_btn{
  background-color: #2e2e2e;
  color: #F5F5F5;
  font-size: 2em;
  outline: none;
  border: none;
}

.icon_btn:hover{
  cursor: pointer;
}
